# =========================
# .NET / MAUI
# =========================

# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# =========================
# MAUI / Mobile
# =========================

*.apk
*.apks
*.aab
*.ipa

# Android
Platforms/Android/bin/
Platforms/Android/obj/

# iOS
Platforms/iOS/bin/
Platforms/iOS/obj/

# MacCatalyst
Platforms/MacCatalyst/bin/
Platforms/MacCatalyst/obj/

# Windows
Platforms/Windows/bin/
Platforms/Windows/obj/

# =========================
# Android / Gradle extras
# =========================

.gradle/
build/
local.properties
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# =========================
# IDEs
# =========================

.idea/
.vscode/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# =========================
# Secrets / keys
# =========================

*.p12
*.keystore
*.jks
google-services.json

# =========================
# NuGet
# =========================

*.nupkg
packages/